
@{
    ViewBag.Title = "buscarUsuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="central-meta">
    <div class="frnds">
        <!-- Tab panes -->
        <div class="tab-content">
            <h1>Buscar usuarios</h1>

            <div class="tab-pane active fade show " id="frends">
                <!-- contactos que no son amigos del usuario y que a buscado por medio del buscador de usuarios -->
                <ul class="nearby-contct">
                    <li>
                        <div class="nearly-pepls">
                            <figure>
                                <a href="time-line.html" title=""><img src="~/images/resources/friend-avatar9.jpg" alt=""></a>
                            </figure>
                            <div class="pepl-info">
                                <h4><a href="time-line.html" title="">jhon kates</a></h4>
                                <a href="#" title="" class="add-butn more-action" data-ripple="">Ver perfil</a>
                                <a href="#" title="" class="add-butn" data-ripple="">Agregar</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="nearly-pepls">
                            <figure>
                                <a href="time-line.html" title=""><img src="~/images/resources/nearly1.jpg" alt=""></a>
                            </figure>
                            <div class="pepl-info">
                                <h4><a href="time-line.html" title="">sophia Gate</a></h4>
                                <a href="#" title="" class="add-butn more-action" data-ripple="">Ver perfil</a>
                                <a href="#" title="" class="add-butn " data-ripple="">Agregar</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="nearly-pepls">
                            <figure>
                                <a href="time-line.html" title=""><img src="~/images/resources/nearly2.jpg" alt=""></a>
                            </figure>
                            <div class="pepl-info">
                                <h4><a href="time-line.html" title="">sara grey</a></h4>
                                <a href="#" title="" class="add-butn more-action" data-ripple="">Ver perfil</a>
                                <a href="#" title="" class="add-butn" data-ripple="">Agregar</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="nearly-pepls">
                            <figure>
                                <a href="time-line.html" title=""><img src="~/images/resources/nearly3.jpg" alt=""></a>
                            </figure>
                            <div class="pepl-info">
                                <h4><a href="time-line.html" title="">Sexy cat</a></h4>
                                <a href="#" title="" class="add-butn more-action" data-ripple="">Ver perfil</a>
                                <a href="#" title="" class="add-butn" data-ripple="">Agregar</a>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>

        </div>
    </div>
</div>

