
@{
    ViewBag.Title = "Notificaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="central-meta">
    <div class="editing-interest">
        <h5 class="f-title"><i class="ti-bell"></i>Notificaciones</h5>
        <div class="notification-box">
            <ul>
                <li>
                    <figure><img src="~/images/resources/friend-avatar.jpg" alt=""></figure>
                    <div class="notifi-meta">
                        <p>bob frank like your post</p>
                    </div>
                    <i class="del fa fa-close"></i>
                </li>
                <li>
                    <figure><img src="~/images/resources/friend-avatar2.jpg" alt=""></figure>
                    <div class="notifi-meta">
                        <p>Sarah Hetfield commented on your photo. </p>
                    </div>
                    <i class="del fa fa-close"></i>
                </li>
                <li>
                    <figure><img src="~/images/resources/friend-avatar3.jpg" alt=""></figure>
                    <div class="notifi-meta">
                        <p>Mathilda Brinker commented on your new profile status. </p>
                    </div>
                    <i class="del fa fa-close"></i>
                </li>
                <li>
                    <figure><img src="~/images/resources/friend-avatar4.jpg" alt=""></figure>
                    <div class="notifi-meta">
                        <p>Green Goo Rock invited you to attend to his event Goo in Gotham Bar. </p>
                    </div>
                    <i class="del fa fa-close"></i>
                </li>
                <li>
                    <figure><img src="~/images/resources/friend-avatar5.jpg" alt=""></figure>
                    <div class="notifi-meta">
                        <p>Chris Greyson liked your profile status. </p>
                    </div>
                    <i class="del fa fa-close"></i>
                </li>
                <li>
                    <figure><img src="~/images/resources/friend-avatar6.jpg" alt=""></figure>
                    <div class="notifi-meta">
                        <p>You and Nicholas Grissom just became friends. Write on his wall. </p>
                    </div>
                    <i class="del fa fa-close"></i>
                </li>
            </ul>
        </div>
    </div>
</div>
